<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My App{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="sidebar" id="sidebar">
        <div class="sidebar-header">
            <span class="toggle-btn" id="toggle-btn">☰</span>
            <h3 class="sidebar-title">Menu</h3>
        </div>
        <ul class="sidebar-menu">
            <li><a href="{{ url_for('dashboard') }}"><i class="fas fa-home"></i> <span>Dashboard</span></a></li>
            <li><a href="{{ url_for('map') }}"><i class="fas fa-chart-line"></i> <span>Navegação</span></a></li>
            <li><a href="{{ url_for('detalhes') }}"><i class="fas fa-chart-pie"></i> <span>Detalhes</span></a></li>
            <li><a href="{{ url_for('contagem') }}"><i class="fas fa-envelope"></i> <span>Contagem</span></a></li>
            <li><a href="{{ url_for('movimentacao') }}"><i class="fas fa-cog"></i> <span>Movimentação</span></a></li>
        </ul>
    </div>
    <div class="content">
        {% block content %}
        <h1>Bem-vindo à Navegação pelo Armazém</h1>
        <p>Aqui você será capaz de selecionar um item e utilizar os óculos para fazer uma navegação indoor.</p>

        <!-- Caixa de texto para entrada do usuário -->
        <div class="mb-3">
            <label for="python-input" class="form-label">Que material deseja localizar?</label>
            <input type="text" id="python-input" class="form-control" placeholder="Digite o PN">
        </div>

         <!-- Botão para executar o arquivo Python -->
         <button id="run-python" class="btn btn-primary">Localizar</button>
        {% endblock %}
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        // Sidebar toggle functionality
        const sidebar = document.getElementById("sidebar");
        const content = document.getElementById("content");
        const toggleBtn = document.getElementById("toggle-btn");

        toggleBtn.addEventListener("click", () => {
            sidebar.classList.toggle("collapsed");
            content.classList.toggle("expanded");
        });

        // Lógica para chamar o back-end e executar o script Python
        document.getElementById("run-python").addEventListener("click", () => {
            const userInput = document.getElementById("python-input").value;

            fetch('/run-python', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ input: userInput })
            })
            .then(response => response.json())
            .then(data => {
                alert(data.message);
            })
            .catch(error => {
                console.error('Erro:', error);
                alert('Ocorreu um erro ao executar o script Python.');
            });
        });

    </script>

</body>
</html>
