paho-mqtt
opencv-python
picamera2
pyzbar


## sudo apt update
## sudo apt install -y python3-paho-mqtt
## sudo apt-get install python3-opencv

## sudo apt install raspi-config
## sudo apt install -y libcap-dev
## pip install --break-system-packages picamera2
## sudo apt install python3-av python3-jsonschema python3-libarchive python3-numpy python3-pil python3-tqdm python3-pyxattr
## pip install pyzbar

